body{
  background-image: url("../images/ac.jpg");
}

.modA {
  background-image: url("../images/back_mantel.jpg");
}

.modB {
  background-image: url("../images/back_mantel.jpg");
  background-clip:content-box;
}

.modC {
  background-image: url("../images/back_mantel.jpg");
  background-clip:100% 100%;
}

.modD {
  background-image: url("../images/back_mantel.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-origin:content-box;
}

.modE {
  background-image: url("../images/dh.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.modF {
  background-image: url("../images/dh.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-origin: content-box;
}

.modG {
  background-image: url("../images/dh_2.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-origin: center;
}

.modH {
  background-image: url("../images/dh_3.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-origin: center;
}

.modI {
  background: linear-gradient(to right,#d2ff52 0%, #566647 100%);
}

.modJ {
  background: linear-gradient(to bottom,rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1), rgba(191,118,78,1)100%);
}

.modK{
  background: linear-gradient(to top,rgba(50,116,45,1) 0%,rgba(239,239,210,1) 100%);
}

.modL {
  background: linear-gradient(to top,rgba(50,116,45,1) 0%,rgba(240,183,161,1) 100%);
}

.main_container{
  display: flex;
  margin: 0 auto;
  width: 0 auto;
  height: 0 auto;
  border-top: 5rem;
  padding-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.table{
  width: 100%;
}

img{
  width: 350px;
  height: 350px;
}


 tr{
  height: auto;
  padding: 50px;
  text-align: center;
}